In [48]:
# Columns where unit of measurement is necessary to update:

## Fixed acidity
## Volatile acidity
## Citric acid
## Chlorides
## Sulphates

In [49]:
# Units of Measurement (Reference)

## 1 mg = 0.001 g
## 1 cm3 = 1 mL
## 1 dm3 = 1 L
## 1 g/dm3 = 1 g/L
## 1 mg/dm3 = 1 Part per Million

In [29]:
# Load in Packages
import pandas as pd
import numpy as np

In [26]:
# Load in Data
Wine = pd.read_csv ('/Users/autumnheyman/Desktop/WineQT.csv')
Wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [5]:
## Fixed Acidity

### Expressed in dataset as: tartaric acid, (g/dm3)
### Converting to: tartaric acid, (mg/L)

In [35]:
### Rename Fixed Acidity Column

Wine.rename(columns={'fixed acidity' : 'fixedacidity'}, inplace=True)

In [36]:
### Create a Fixed Acidity Recode Column

Wine['fixedacidityR'] = Wine['fixedacidity']*1000

In [8]:
## Volatile Acidity

### Expressed in dataset as: acetic acid, (g/dm3)
### Converting to: acetic acid, (mg/L)

In [39]:
### Rename Volatile Acidity Column

Wine.rename(columns={'volatile acidity' : 'volatileacidity'}, inplace=True)

In [40]:
### Create a Volatile Acidity Recode Column

Wine['volatileacidityR'] = Wine['volatileacidity']*1000

In [42]:
## Citric Acid

### Expressed in dataset as: citric acid, g/dm3
### Converting to: citric acid, mg/L

In [43]:
### Rename Citric Acid Column

Wine.rename(columns={'citric acid' : 'citricacid'}, inplace=True)

In [44]:
### Create a Citric Acid Recode Column

Wine['citricacidR'] = Wine['citricacid']*1000

In [11]:
## Chlorides

### Expressed in dataset as: sodium chloride, g/dm3
### Converting to: sodium chloride, mg/L

In [45]:
### Create a Chlorides Recode Column

Wine['chloridesR'] = Wine['chlorides']*1000

In [15]:
## Sulphates

### Expressed in dataset as: tartaric acid, g/dm3
### Converting to: tartaric acid, mg/L

In [46]:
### Create a Sulphates Recode Column

Wine['sulphatesR'] = Wine['sulphates']*1000

In [47]:
Wine.head()

,fixedacidity,volatileacidity,citricacid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,fixedacidityR,volatileacidityR,citricacidR,chloridesR,sulphatesR
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,7400.0,700.0,0.0,76.0,560.0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1,7800.0,880.0,0.0,98.0,680.0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2,7800.0,760.0,40.0,92.0,650.0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3,11200.0,280.0,560.0,75.0,580.0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4,7400.0,700.0,0.0,76.0,560.0